<div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Brian's Sound Manager</a>
          <span class="page"> Sound List </span>
        </div>
      </div>
    </div>
<div id="muzik-content" class="content">
<% if(@muziks.size > 0)
%>  
  <table id="sound_list_tbl">
  <thead>
    <tr>
      <th>Name</th>
      <th>Format</th>
      <th>Length min</th>
      <th>Length sec</th>
      <th>Size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @muziks.each do |muzik| %>
      <tr>
        <td><%= muzik.name %></td>
        <td><%= muzik.format %></td>
        <td><%= muzik.length_min %></td>
        <td><%= muzik.length_sec %></td>
        <td><%= muzik.size %></td>
        <td><%= link_to 'Show', muzik %></td>
        <td><%= link_to 'Edit', edit_muzik_path(muzik) %></td>
        <td><%= link_to 'Destroy', muzik, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  <script src="http://cdn.datatables.net/1.10.1/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function() {
    $("#sound_list_tbl").dataTable();
    }
  </script>
<% else %>
   <h4>No Results Found!</h4>
<% end %>
<br>

  <%= button_to 'Add New Sound', new_muzik_path, :class=>"btn btn-primary", method: :get %>
</div>