<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @muzik.name %>
</p>

<p>
  <strong>Format:</strong>
  <%= @muzik.format %>
</p>

<p>
  <strong>Length min:</strong>
  <%= @muzik.length_min %>
</p>

<p>
  <strong>Length sec:</strong>
  <%= @muzik.length_sec %>
</p>

<p>
  <strong>Size:</strong>
  <%= @muzik.size %>
</p>

<%= link_to 'Edit', edit_muzik_path(@muzik) %> |
<%= link_to 'Back', muziks_path %>
